@import url("./__form/popup__form.css");
@import url("./__wrapper/popup__wrapper.css");
@import url("./__close-button/popup__close-button.css");
@import url("./__form-title/popup__form-title.css");
@import url("./__text-input/popup__text-input.css");
@import url("./__submit/popup__submit.css");
@import url("./__full-image/popup__full-image.css");
@import url("./__image-caption/popup__image-caption.css");
@import url("./__full-image-container/popup__full-image-container.css");

.popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
}
