.edit-form__submit {
  min-width: 358px;
  min-height: 50px;
  margin: 0 auto 36px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: opacity 1s ease-in;
}

@media screen and (max-width: 550px) {
  .edit-form__submit {
    min-width: 238px;
    min-height: 46px;
    margin-bottom: 25px;
  }
}

.edit-form__submit:hover {
  opacity: 0.8;
}
