.edit-form__user-title {
  margin: 30px auto 48px;
  border: 0px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 358px;
  min-height: 27px;
  padding: 0;
}

@media screen and (max-width: 550px) {
  .edit-form__user-title {
    min-width: 238px;
    margin-bottom: 45px;
  }
}
