.popup__user-information {
  margin: 0 auto;
  border: 0px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 358px;
  min-height: 27px;
  padding: 0;
}

.popup__user-information:first-of-type {
  margin-top: 54px;
}

.popup__user-information:last-of-type {
  margin-top: 30px;
  margin-bottom: 48px;
}

@media screen and (max-width: 550px) {
  .popup__user-information {
    min-width: 238px;
  }

  .popup__user-information:first-of-type {
    margin-top: 75px;
  }

  .popup__user-information:last-of-type {
    margin-bottom: 45px;
  }
}
