.edit-form__user-information_type_title {
  margin-top: 30px;
  margin-bottom: 48px;
}

@media screen and (max-width: 550px) {
  .edit-form__user-information_type_title {
    margin-bottom: 45px;
  }
}
